$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 25px;
    width: 250px;
    display: inline-block;
    vertical-align: top;

    h1 {
        font-size: 75px;
    }

    ul {
        list-style: none;
        margin-left: 0px;
    }
}
